@model Vet_Data.Models.Turno

@{
    ViewBag.Title = "Details";
}

@{
    ViewBag.Title = "Detalles del Turno";
}

<div class="form">

    <h2>Detalles del Turno</h2>
    <p>
        <label>Mascota</label><br>
        <input type="hidden" name="ClienteId" id="ClienteId" />
        <input type="text" id="txtCliente" disabled value="@Model.Mascota.Nombre">
    </p>
    <p>
        <label>Especialidad</label><br>
        <input type="hidden" name="ClienteId" id="ClienteId" />
        <input type="text" id="txtCliente" disabled value="@Model.Especialidad.Descripcion">
    </p>
    <p>
        <label>Medico </label><br>
        <input type="hidden" name="ClienteId" id="ClienteId" />
        <input type="text" id="txtCliente"  disabled value="@Model.Medico.NombreCompleto">
    </p>
    <p>
        <label>Sala</label><br>
        <input type="hidden" name="ClienteId" id="ClienteId" />
        <input type="text" id="txtCliente" disabled value="@Model.Sala.Nombre">
    </p>
    <p>
        <label>Servicio</label><br>
        <input type="hidden" name="ClienteId" id="ClienteId" />
        <input type="text" id="txtCliente" disabled value="@Model.Item.Descripcion">
    </p>
    <p>
        <label>Fecha Inicio</label><br>
        <input type="hidden" name="ClienteId" id="ClienteId" />
        <input type="text" id="txtCliente" disabled value="@Model.FechaInicio.Value.ToString("dd/MM/yyyy HH:mm")">
    </p>
    <p>
        <label>Fecha Fin</label><br>
        <input type="hidden" name="ClienteId" id="ClienteId" />
        <input type="text" id="txtCliente" disabled value="@Model.FechaFin.Value.ToString("dd/MM/yyyy HH:mm")">
    </p>
    <p>
        @{
            if (Model.Estado == Vet_Data.Models.EstadoTurno.Pendientes)
            {
                <a class="button" href="/Turnos/Edit?id=@Model.ID">Reprogramar</a>
                <a class="button" href="/Turnos/Delete?id=@Model.ID">Anular</a>
                <a class="button" href="/Facturacion/Create?id=@Model.ID">Facturar</a>
            }
        }
    </p>


</div>